.article-container {
  color: #9BBEC8;
  width: 100%;
  background-color: #164863;
  display: flex;
  justify-content: center;
}

.article-container > div {
  margin: 25%;
}

.article-container img {
  padding-left: 100px;
}

.article-container .imagelink {
  width: 50%;
}

.article-container .description {
  padding-top: 140px;
  text-align: center;
}

.article-container .brand {
  font-weight: bold;
  padding-left: 150px;
}

.article-container .model {
  font-weight: bold;
  padding-left: 250px;
}

.article-container .price {
  color: #9BBEC8;
  padding-top: 140px;
  padding-left: 250px;
}

.article-container span {
  position: absolute;
  padding-left: 100px;
}

.article-container .year, .article-container .mileage, .article-container .fuelType, .article-container .transmission, .article-container .contactName, .article-container .contactNumber {
  display: none;
}
