.article-container{
    color:#9BBEC8;
    width: 100%;
    background-color: #164863;
    display: flex;
    justify-content: center;
    >div{
        margin: 25%;
    }

    img{
        padding-left: 100px;
    }
    .imagelink{
        width: 50%;
    }
    .description{
        padding-top: 140px;
        text-align: center;
    }
    .brand{
        font-weight: bold;
        padding-left: 150px;
    }
    .model{
        font-weight: bold;
        padding-left: 250px;
    }
    .price{
        color:#9BBEC8;
        padding-top: 140px;
        padding-left: 250px;

    }
    span{
        position: absolute;
        padding-left: 100px;
        
    }
    .year, .mileage, .fuelType, .transmission, .contactName, .contactNumber{
        display: none;
    }
    

}

